* {
    font-size: 20px;
}

body {
    background-color: #A1BAD6;
    margin: 0;
}

.blueBackground {
    background-color: blue;
}

.lightBlueBackground {
    background-color: lightblue;
}

.heightFifteen {
    height: 15vh;
}

.heightThirty {
    height: 30vh;
}

.flexDaddy {
    display: flex;
}

.flexRules {
    justify-content: center;
    align-items: center;
}

.headerRules {
    color: white;
    font-size: 1.5em;
}

.padding {
    padding: 10px;
}

.heroArea{
    height: 80vh;
    width: 100%;
    background-color: brown;
}

.navBar{
    width: 100%;
    background-color: #53F5FF;
    display: flex;
    justify-content: space-between;
}

.navLinks{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.navLinks a{
    height: 100%;
    width: calc(100% / 3);
    text-decoration: none;
    color: black;
}

.navLink{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    /*border: black solid 3px;*/
    
}

.navLogo{
    height: 80px;
}

.heroImg{
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    background-image: url(pexels-dominika-roseclay-4289045.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.heroImg h1{
    font-size: 100px;
    position: relative;
    bottom: 15vh;
}



footer{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    background-color: #00759C;
}

footer img{
    width: 80px;
    height: 80px;
}

footer logo{
    position: absolute;
    right: 10px;
}

