* {
    font-size: 20px;
}

body {
    background-color: #A1BAD6;
    margin: 0;
}

.blueBackground {
    background-color: #005596;
}

.lightBlueBackground2 {
    width:32%;
    height:40vh;
}

.lightBlueBackground2 p {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -70%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.flex-images {
    max-width: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.container p{
    font-size: 26px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: rgba(121, 121, 121, 40%);
}

.flexDaddy {
    display: flex;
   margin: 0 auto;
   margin-top: 90px;
}

.container {
    position:relative;
    text-align:center;
    background-position: center;
    background-size: cover;
}

.heightFifteen {
    height: 15vh;
}

.heightThirty {
    height: 30vh;
}



.flexRules {
    justify-content: center;
    align-items: center;
}

.headerRules {
    color: white;
    font-size: 1.5em;
}


.heroArea{
    height: 80vh;
    width: 100%;
    background-color: brown;
}

.navBar{
    width: 100%;
    background-color: #53F5FF;
    display: flex;
    justify-content: space-between;
}



.navLinks{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.navLinks a{
    height: 100%;
    width: calc(100% / 3);
    text-decoration: none;
    color: black;
}

.navLink{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    /*border: black solid 3px;*/
    font-size: xx-large;
    margin-top: 20px;
    
}

.navLogo{
    height: 80px;
}

.heroImg{
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    background-image: url(imgs/pexels-dominika-roseclay-4289045.jpg);
    background-size: cover;
    justify-content:center;
    align-items: center;
}

.herotext{
    font-size: 100px;
    position: relative;
    bottom: 15vh;
    color:white;
}

.fillerline1 {
    background-color: #53F5FF ;
    height: 20px;
}

.Abouthero {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    background-image: url(imgs/Abouthero.png);
    background-size: cover;
    justify-content:center;
    align-items: center;
}

.issueshero {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    background-image: url(./imgs/issues-hero.png);
    background-size: cover;
    justify-content:center;
    align-items: center;
}

.Assisthero {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    background-image: url(./imgs/assist-hero.png);
    background-size: cover;
    justify-content:center;
    align-items: center;
}

footer{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    background-color: #00759C;
    color: white;
    align-items: center;
    padding-bottom: 11px;
}

.Footer-content ul {
    list-style: none;
    padding: 2px;
    line-height: 1cm;
}

.Footer-content h3 {
   font-size: 30px;
}

footer img{
    width: 80px;
    height: 80px;
}

footer logo{
    position: absolute;
    right: 10px;
    margin-top: 250px;

}

.about-page-content {
    display:flex;
}

.content-left {
    background-color: #A1BAD6;
    width:50%;
    align-items: center;
    text-align: left;
}

.content-left p {
    font-size: 64px;
    margin:200px;
}

.content-right {
    display:flex;
    justify-content: center;
    width:50%;
    margin:50px;
}

.content-left-2 a:link {
    color:black;
    font-size: 64px;
}

a:visited {
    color:black;
}

.content-left-2 {
    background-color: #A1BAD6;
    width:50%;
    align-items: center;
    text-align: left;
    display: flex;
}

.content-left-2 p {
    font-size:64px;
    margin:150px;
}

.content-right-2 img {
    display: flex;
    justify-content: center;
    width:50%;
    margin:50px;
    position: absolute;
    width: 771px;
    height: 771px;
    margin-top:200px;
}

.Footer-content a:link,
.Footer-content a:visited {
    color:white;
    text-decoration: none;
}

.row {
    display:flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.width-50 {
    display:flex;
    width:50%;
}

.width-40 {
    display:flex;
    width:40%;
    margin:0px 5%;
}

@media screen and (max-width: 2137px) {
    #fix {
        font-size:3vw;
        margin:75px;
    }    
}

@media screen and (max-width: 360px) {
    .box {
        height: 100%;
    }
    footer {
        height: fit-content;
    }
    .content-right {
        width: 360px;
        height: 100%;
    }
    .about-page-content {
        display: flex;
        flex-direction: column;
    }
    .content-left{
        justify-content: center;
        width: 100%;
        height: fit-content;
        
    }
    .content-left p {
        font-size: 3vh;
        margin: 10%;
    }
}