* {
    font-size: 20px;
}

body {
    background-color: #A1BAD6;
    margin: 0;
}

.blueBackground {
    background-color: #005596;
}

.lightBlueBackground2 {
    width:32%;
    height:40vh;
}

.lightBlueBackground2 p {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -70%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.flex-images {
    max-width: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.container p{
    font-size: 26px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: rgba(121, 121, 121, 40%);
}

.flexDaddy {
    display: flex;
   margin: 0 auto;
   margin-top: 0px;
}

.container {
    position:relative;
    text-align:center;
    background-position: center;
    background-size: cover;
}

.heightFifteen {
    height: 15vh;
}

.heightThirty {
    height: 30vh;
}



.flexRules {
    justify-content: center;
    align-items: center;
}

.headerRules {
    color: white;
    font-size: 1.5em;
}


.heroArea{
    height: 80vh;
    width: 100%;
    background-color: brown;
}

.navBar{
    width: 100%;
    background-color: #53F5FF;
    display: flex;
    justify-content: space-between;
}

.width-40 p{
    font-size:46px;
}

.navLinks{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.navLinks a{
    height: 100%;
    width: calc(100% / 3);
    text-decoration: none;
    color: black;
}

.navLink{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    /*border: black solid 3px;*/
    font-size: xx-large;
    margin-top: 20px;
}

h3 {
    margin: 0;
}

.navLogo{
    height: 80px;
}
.hero{
    display: flex;
    justify-content: center;
}
.heroImg{
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    background-image: url(imgs/pexels-dominika-roseclay-4289045.jpg);
    background-size: cover;
    justify-content:center;
    align-items: center;
}

.herotext{
    font-size: 100px;
    /* position: relative; */
    bottom: 15vh;
    color:white;
}

.fillerline1 {
    background-color: #53F5FF ;
    height: 20px;
}

.Abouthero {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    background-image: url(imgs/Abouthero.png);
    background-size: cover;
    justify-content:center;
    align-items: center;
}

.issueshero {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    background-image: url(./imgs/issues-hero.png);
    background-size: cover;
    justify-content:center;
    align-items: center;
}

.Assisthero {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    background-image: url(./imgs/assist-hero.png);
    background-size: cover;
    justify-content:center;
    align-items: center;
}

footer{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    background-color: #00759C;
    color: white;
    align-items: top;
    padding-bottom: 11px;

}

.Footer-content ul {
    list-style: none;
    padding: 2px;
    line-height: 1cm;
}

.Footer-content h3 {
   font-size: 30px;
}

footer img{
    width: 80px;
    height: 80px;
}

footer .logo{
    position: absolute;
    right: 10px;
    margin-top: 250px;

}

.about-page-content {
    display:flex;
}

.content-left {
    background-color: #A1BAD6;
    width:50%;
    align-items: center;
    text-align: left;
}

.content-left p {
    font-size: 46px;
    margin:200px;
}

.content-right {
    display:flex;
    justify-content: center;
    width:50%;
    margin:50px;
}

.content-left-2 a:link {
    color:black;
    font-size: 46px;
}

a:visited {
    color:black;
}

.content-left-2 {
    background-color: #A1BAD6;
    width:50%;
    align-items: center;
    text-align: left;
    display: flex;
}

.content-left-2 p {
    font-size:46px;
    margin:150px;
}

.content-right-2 img {
    display: flex;
    justify-content: center;
    width:50%;
    margin:50px;
    position: absolute;
    width: 771px;
    height: 771px;
    margin-top:200px;
}

.Footer-content a:link,
.Footer-content a:visited {
    color:white;
    text-decoration: none;
}

.row {
    display:flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.width-50 {
    display:flex;
    width:50%;
}

.width-50 img {
    width: 50%;
    margin: 3% 25%;
}

.width-40 {
    display:flex;
    width:40%;
    margin:0px 5%;
}

footer .logo {
    margin-top: 0;
}

.rowbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    width: 33vw;
    height: 40vh;
    border: black solid;
    background-color: #8fabcc;
}

.boxes p{
    font-size: 46px;
    text-align: center;
}

@media only screen and (max-width: 2137px) {
    #fix {
        /* font-size:3vw;
        margin:75px; */
    }    
}

@media screen and (max-width: 376px) {
    .box {
        height: 100%;
    }
    footer {
        height: fit-content;
    }
    .about-page-content {
        display: flex;
        flex-direction: column;
    }
    .content-right {
        margin: 0;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .content-right img {
        width: 80%;
        height: auto;
    }
    .content-left{
        justify-content: center;
        width: 100%;
        height: fit-content;
    }
    .content-left p {
        font-size: 23px;
        margin: 10%;
    }
    .content-right-2 {
        width: 100%;
        height: auto;
        margin-bottom: 25vh;
    }
    .content-right-2 img{
        width: 75%;
        height: auto;
        margin-top: 0;
    }
    .content-left-2{
        justify-content: center;
        width: 100%;
        height: fit-content;
        
    }
    .content-left-2 p {
        font-size: 23px;
        margin: 10%;
        margin-top: none;
    }

    .heroArea{
        justify-content: center;
        height: auto;
        width: 100%;
        background-color: brown;
    }
    footer .logo {
        margin:0px;
        position:unset
    }
    .herotext{
        font-size: 42px;
        bottom: 15vh;
        color:rgb(0, 0, 0);
        background-color: azure;
    }
    .pourwater {
        width: 100%;
    }
    .width-40 {
        width: 94%;
    }
    .width-40 p {
        font-size: 23px;
    }
    .boxes{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
        width: 95vw;
        height: 42vh;
        border: black solid;
        background-color: #8fabcc;
    }
    .rowbox{
        flex-direction: column;
    }
    .row{
        flex-direction: column
    }
    .width-50{
        width: ;
        display: flex;
        flex-direction: row;
    }
    .width-50 img {
        width: 90%;
        margin: 3% 5%;
        
    }
}

@media screen and (max-width: 1441px) {
    .box {
        height: 100%;
    }
    footer {
        height: fit-content;
    }
    .about-page-content {
        display: flex;
        flex-direction: column;
    }
    .content-right {
        margin: 0;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .content-right img {
        width: 80%;
        height: auto;
    }
    .content-left{
        justify-content: center;
        width: 100%;
        height: fit-content;
    }
    .content-left p {
        font-size: 23px;
        margin: 10%;
    }
    .content-right-2 {
        width: 100%;
        height: auto;
        margin-bottom: 25vh;
    }
    .content-right-2 img{
        width: 75%;
        height: auto;
        margin-top: 0;
    }
    .content-left-2{
        justify-content: center;
        width: 100%;
        height: fit-content;
        
    }
    .content-left-2 p {
        font-size: 23px;
        margin: 10%;
        margin-top: none;
    }

    .heroArea{
        justify-content: center;
        height: auto;
        width: 100%;
        background-color: brown;
    }
    footer .logo {
        margin:0px;
        position:unset
    }
    .herotext{
        font-size: 42px;
        bottom: 15vh;
        color:rgb(0, 0, 0);
        background-color: azure;
    }
    .pourwater {
        margin-bottom: 5px;
        width: 100%;
    }
    .width-40 {
        width: 94%;
    }
    .width-40 p {
        font-size: 23px;
    }
    .boxes{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2%;
        width: 95vw;
        height: 42vh;
        border: black solid;
        background-color: #8fabcc;
    }
    .rowbox{
        flex-direction: column;
    }
    .row{
        flex-direction: column
    }
    .width-50{
        width: ;
        display: flex;
        flex-direction: row;
    }
    .width-50 img {
        width: 90%;
        margin: 3% 5%;
        
    }
    .heightFifteen{
        height: fit-content;
    }
    .flexDaddy{
        justify-content: center;
    }
    .lightBlueBackground2{
        display: flex;
        align-items: center;

    }
    .container p{
        font-size: 1rem;
        color: azure;
    }
    .lightBlueBackground{
        margin: 1rem;
    }
}